.deleteIcon{
    position: absolute;
    font-size: x-large;
    right: 10px;
    top: 12px;
}
.editIcon{
    position: absolute;
    font-size: x-large;
    right: 40px;
    top: 12px;
}
ion-card-title{
    width: 90%;
}