<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>createTag</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-title><h1>Available tags</h1></ion-title>
  <br>
  <div>
    <ion-chip *ngFor="let label of database.labels">
      <ion-label class="label">{{ label }}</ion-label>
      <ion-icon name="close-circle-outline" (click)="deleteLabel(label)"></ion-icon>
    </ion-chip>
    <ion-chip *ngIf="database.labels.length==0">
      <ion-label>No tags available</ion-label>
    </ion-chip>
  </div>
</ion-content>

<ion-footer class="ion-no-border">
  <ion-item>
    <ion-label position="floating">New label</ion-label>
    <ion-input [(ngModel)]="label" #autofocus></ion-input>
  </ion-item>
  <ion-button preventDefault="true" (click)="addLabel()" expand="block">Add label</ion-button>
</ion-footer>