<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>about</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container">
    <h1>Hi!</h1>
    <p><strong>Thank you</strong> for using flipping cards, I hope You are enjoying it.</p>
    <p>All user data is stored in <strong>your</strong> device. I do not collect your data, and the app is 100% offline. And is 100% free.</p>
    <p>If You are curious about how the app is made, head to github.com/jiaen-p/flipping-app to check out the source code.</p>
    <p>If you have any <strong>suggestion</strong>, please send it to: jiaen.m.pan@gmail.com</p>
    <p>Consider <strong>rating</strong> it in the play store if You liked it. Its free and It will help me out a great deal.</p>
    <br>
    <ion-buttons>
      <ion-button fill="outline" color="success" expand="block" routerLink="/home">Go back</ion-button>
    </ion-buttons>
  </div>
</ion-content>
