<ion-content [fullscreen]="true">
  <ion-header class="ion-no-border">
    <ion-toolbar>
      <ion-title>
        Flip It!
      </ion-title>
      <ion-item slot="end" lines="none" class="filterBtn">
        <ion-select multiple="true" [(ngModel)]="selectedTag" (ionChange)="filterByTag()" (ionCancel)="cancelTag()" cancelText="Clear all" okText="filter">
          <ion-label>Filter by tag</ion-label>
          <ion-select-option *ngFor="let label of database.labels" >{{ label }}</ion-select-option>
          <ion-select-option *ngIf="database.labels.length==0" disabled="true">No tags available</ion-select-option>
        </ion-select>
        <ion-icon name="filter"></ion-icon>
      </ion-item>
    </ion-toolbar>
  </ion-header>
  <ion-header class="ion-no-border searchbox">
    <ion-toolbar>
      <ion-searchbar [(ngModel)]="searchTerm" (ionChange)="filterByTitle()" placeholder="Search by set title"></ion-searchbar>
    </ion-toolbar>
  </ion-header>
  


  <ion-card *ngFor="let set of database.sets">
    <ion-card-header>
      <ion-card-title>{{set.title}}</ion-card-title>
    </ion-card-header>
    <ion-card-content >
      <div *ngIf="set.labels.length!=0">
        <ion-chip *ngFor="let label of set.labels.split(',')">
          <ion-label>{{label}}</ion-label>
        </ion-chip>
      </div>
    </ion-card-content>
    <ion-grid class="edit">
      <ion-icon name="reader-outline" (click)="editSet(set)"></ion-icon>
      <ion-icon name="close-circle-outline" (click)="deleteAlert(set)"></ion-icon>
    </ion-grid>
    <ion-button expand="block" (click)="viewSet(set.sets_id)">View set</ion-button>
  </ion-card>

 



  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button color="danger">
      <ion-icon name="add" size="large"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="top">
      <ion-fab-button data-desc="New Tag" routerLink="/create-label" ><ion-icon name="bookmarks"></ion-icon></ion-fab-button>
      <ion-fab-button data-desc="New Set" routerLink="/create-set" ><ion-icon name="albums" ></ion-icon></ion-fab-button>
      <ion-fab-button data-desc="About" routerLink="/about" ><ion-icon name="information"></ion-icon></ion-fab-button>
    </ion-fab-list>
  </ion-fab>
</ion-content>
